django>=4.2.3
djangorestframework>=3.14.0
pytest-django>=4.5.2
python-dotenv>=1.0.0
pytest_factoryboy>=2.5.1
djoser>=2.2.0
djangorestframework-simplejwt>=5.2.2
flake8==5.0.4
pep8-naming==0.13.3
flake8-broken-line==0.6.0
flake8-return==1.2.0
flake8-isort==6.0.0
